body {
	min-height: 100vh;
}

.content-wrapper {
	margin-inline: auto;
	padding-inline: 1rem;
	max-width: 60rem;

	&.wide {
		/*max-width: 80rem;*/
		max-width: 1440px;
	}
}

.dot-separator {
	margin-left: var(--space-s);
	color: var(--highlight-color);

	&.right {
		margin-right: var(--space-s);
	}
}

a {
	text-decoration: underline;

	&:hover {
		text-decoration: none;
		color: var(--highlight-color);
	}
}

.highlight-color {
	color: var(--highlight-color);
}

.theme-toggle {
	border-radius: 0.375rem;
	background-color: transparent;
	padding: 4px 9px 5px;
	line-height: 1;

	&:hover {
		text-decoration: underline;
	}

	&.isActive {
		background-color: var(--button-color);
		color: var(--button-text);
	}
}

.primary-button {
	font-size: var(--step--1);
	@apply shadow-sm;
	width: fit-content;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-inline: 1rem;
	padding-block: 0.5rem;
	border-radius: 0.375rem;
	background-color: var(--button-color);
	color: var(--button-text);
	text-decoration: none;

	span {
		position: relative;
		transition: all 0.1s ease;
	}

	&:hover {
		color: var(--button-text);
		filter: brightness(0.9);

		span {
			transform: translateY(-2px);
		}
	}
}

.mailerlite-form, .email-form {
	font-size: var(--step--1);
}

.mailerlite-input, .email-input {
	@apply appearance-none min-w-0 w-full rounded-md shadow-sm py-2 px-4;
	color: var(--form-text);
	background-color: var(--form-bg);

	&::placeholder {
		color: var(--highlight-color);
		opacity: 0.65;
		font-style: italic;
	}
}

.mailerlite-button, .email-button {
	@apply w-full flex items-center justify-center px-4 py-2 rounded-md shadow-sm;
	background-color: var(--button-color);
	color: var(--button-text);
	cursor: pointer;

	&:hover {
		filter: brightness(0.9);
	}
}

*:focus {
	outline: none;
}

*:focus-visible {
	outline-style: dashed;
	outline-offset: 1px;
	outline-width: 2px;
	outline-color: var(--highlight-color);
}

.has-dropdown {
	z-index: 50;
}

.dropdown {
	opacity: 0;
	position: absolute;
	width: fit-content;
	min-width: 170px;
	z-index: 55;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	margin-top: 0.5rem;
	padding: 1rem 1.1rem 1rem 0.75rem;
	transform: translateX(-3%);
	transition: opacity .15s ease-out;
	border: 1px solid var(--highlight-color);
	border-radius: 0.5rem;
	background-color: var(--bg-color);

	li button {
		width: 100%;
		height: 100%;
	}
}

.has-dropdown:focus-within .dropdown {
	opacity: 1;
	pointer-events: auto;
}